html { 
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.display {
    height: 150px;
    width: 500px;
    background-color: antiquewhite; 
    opacity: 0.5;
    border: black 5px solid;
    border-radius: 15px;
    margin-bottom: 50px;
    text-align: center;
}

.round-display {

    height: 50px;
    width: 300px;
    background-color: antiquewhite; 
    opacity: 0.5;
    border: black 5px solid;
    border-radius: 15px;
    margin-bottom: 50px;
    text-align: center;

}

button {
    font-size:25px ;
}